In [1]:
!wget https://raw.githubusercontent.com/manifoldailearning/python-coding-examples/main/py4ds/Data%20Wrangling/IPL%20IMB381IPL2013.csv

--2024-07-21 16:22:33--  https://raw.githubusercontent.com/manifoldailearning/python-coding-examples/main/py4ds/Data%20Wrangling/IPL%20IMB381IPL2013.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15661 (15K) [text/plain]
Saving to: ‘IPL IMB381IPL2013.csv’

IPL IMB381IPL2013.c 100%[===================>]  15.29K  --.-KB/s    in 0s

2024-07-21 16:22:33 (76.6 MB/s) - ‘IPL IMB381IPL2013.csv’ saved [15661/15661]

In [3]:
import pandas as pd
df = pd.read_csv('IPL IMB381IPL2013.csv')
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [5]:
df['TEAM'].unique()

array(['KXIP', 'RCB', 'KKR', 'CSK', 'CSK+', 'RR', 'RCB+', 'MI+', 'DD+',
       'KKR+', 'DC', 'MI', 'DC+', 'RR+', 'KXIP+', 'KXI+', 'DD'],
      dtype=object)

# Activity 1:
Fix the column team:
- KXIP --> KXIP, KXIP+, KXI+
- KKR --> KKR,KKR+
- DC --> DC,DC+
- MI --> MI, MI+
- RCB --> RCB,RCB+
- RR --> RR,RR+
- CSK --> CSK+,CSK
- DD --> DD, DD+

In [6]:
# 1st apprach
# df['TEAM']=df['TEAM'].str.replace('KXIP+','KXIP')
# df['TEAM']=df['TEAM'].str.replace('KXI+','KXIP')

# 2nd Approach
df['TEAM'].replace({'KXIP+':'KXIP','KXI+':'KXIP','KKR+':'KKR','DC+':'DC','MI+':'MI','RCB+':'RCB','RR+':'RR','CSK+':'CSK','DD+':'DD'},inplace = True)

In [ ]:
# 3rd Apporach
# Create a function
# def transform_team(row):
#   if row['TEAM'] == 'KXIP+':
#     return 'KXIP'
#   .
#   .
#   .
#   .

In [7]:
df['TEAM'].unique()

array(['KXIP', 'RCB', 'KKR', 'CSK', 'RR', 'MI', 'DD', 'DC'], dtype=object)

In [8]:
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [ ]:
# Which team is paying more for a Batsman ?

In [12]:
df[df['PLAYING ROLE']=='Batsman'].groupby('TEAM')["SOLD PRICE"].mean().sort_values(ascending=False)

TEAM
MI      1000000.000000
DD       987500.000000
RCB      806250.000000
KXIP     550000.000000
DC       541666.666667
CSK      412500.000000
KKR      408333.333333
RR       383333.333333
Name: SOLD PRICE, dtype: float64

In [13]:
# Which player had the highest difference between base price and sold price ?
df['Difference'] = df['SOLD PRICE'] - df['BASE PRICE']
df.sort_values('Difference', ascending=False).head(1)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE,Difference
50,51,"Kohli, V",1,IND,RCB,Batsman,491,0,3590,86.31,...,49,345,4,86.25,8.84,58.5,2011,150000,1800000,1650000

In [15]:
df['diff'] = df['SOLD PRICE'] - df['BASE PRICE']
df[df['diff'] == df['diff'].max()][['PLAYER NAME', 'BASE PRICE', 'SOLD PRICE',"diff"]] # boolean masking

   PLAYER NAME  BASE PRICE  SOLD PRICE     diff
50    Kohli, V      150000     1800000  1650000

In [21]:
# Calculate the difference between soldprice and baseprice
df['price_difference'] = df['SOLD PRICE'] - df['BASE PRICE']
 # Identify the player with the highest difference
max_diff_player = df.iloc[df['price_difference'].idxmax()]

In [22]:
max_diff_player

Sl.NO.                    51
PLAYER NAME         Kohli, V
AGE                        1
COUNTRY                  IND
TEAM                     RCB
PLAYING ROLE         Batsman
T-RUNS                   491
T-WKTS                     0
ODI-RUNS-S              3590
ODI-SR-B               86.31
ODI-WKTS                   2
ODI-SR-BL              137.0
CAPTAINCY EXP              1
RUNS-S                  1639
HS                        73
AVE                    28.26
SR-B                  119.29
SIXERS                    49
RUNS-C                   345
WKTS                       4
AVE-BL                 86.25
ECON                    8.84
SR-BL                   58.5
AUCTION YEAR            2011
BASE PRICE            150000
SOLD PRICE           1800000
Difference           1650000
diff                 1650000
price_difference     1650000
Name: 50, dtype: object

In [23]:
df['price_difference'].idxmax()

50

In [24]:
# save the dataframe to csv file
df.to_csv("file.csv",index=False)